{% extends "base.html" %}

{# Custom theme extending Windmill Dark #}
{# Override blocks here to customize the theme #}

{% block extrahead %}
  {{ super() }}
  {# Google Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Metamorphous&family=IM+Fell+English+SC&family=IM+Fell+Great+Primer&family=Merriweather+Sans:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block styles %}
  {{ super() }}
  <link href="{{ base_url }}/css/custom.css" rel="stylesheet">
{% endblock %}

{% block footer %}
  {# Override footer to hide or move it - empty block hides default footer #}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ base_url }}/assets/javascripts/custom.js"></script>
{% endblock %}
